<!DOCTYPE html>
<html ng-app="notesApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>Mon app</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/ng-tags-input.bootstrap.css" rel="stylesheet">
        <link href="css/ng-tags-input.css" rel="stylesheet">
        <link rel="stylesheet" href="lib/angular-selector-master/dist/angular-selector.css">
        
        <link href="css/notes.css" rel="stylesheet">
    </head>
    <body>
        <div class="row-fluid" id="main">
            <div class="col-xs-10 col-md-offset-1">
                <header></header>
                <div id="container">					
                    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-left" >
                        <a class="navbar-brand" href="#">LOGO</a>
                        <ul class="nav nav-pills info">
                           
                           <li>
                                <a ui-sref="events"><i class="glyphicon glyphicon-retweet"></i> Events</a>
                            </li>
                            <li>
                                <a ui-sref="actus"><i class="glyphicon glyphicon-retweet"></i> Actu</a>
                            </li>
                            <li>
                                <a ui-sref="test"><i class="glyphicon glyphicon-retweet"></i> Test</a>
                            </li>
                            <li>
                                <a ui-sref="jeux"><i class="glyphicon glyphicon-retweet"></i> Jeux</a>
                            </li>
                            <li>
                                <a ui-sref="jobs"><i class="glyphicon glyphicon-retweet"></i> Jobs</a>
                            </li>
                            <li class="dropdown" dropdown on-toggle="toggled(open)">
                                <a class="dropdown-toggle" dropdown-toggle> <i class="glyphicon glyphicon-folder-open"></i>  Clé des châteaux<b class="caret"></b></a>
                                <ul class="dropdown-menu info" role="menu">
                                    <li>
                                        <a ui-sref="categories">Categorie</a>
                                    </li>
                                    <li>
                                        <a ui-sref="vins">Produits</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" dropdown on-toggle="toggled(open)">
                                <a class="dropdown-toggle" dropdown-toggle> <i class="glyphicon glyphicon-folder-open"></i> Nos Produits<b class="caret"></b></a>
                                <ul class="dropdown-menu info" role="menu">
                                    <li>
                                        <a ui-sref="categoriesBrac">Categories</a>
                                    </li>
                                    <li>
                                        <a ui-sref="produits">Produits</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a ui-sref="campagnes"><i class="glyphicon glyphicon-retweet"></i> Campagnes</a>
                            </li>
                            <li class="dropdown" dropdown on-toggle="toggled(open)">
                                <a class="dropdown-toggle" dropdown-toggle> <i class="glyphicon glyphicon-folder-open"></i> Images Slider <b class="caret"></b></a>
                                <ul class="dropdown-menu info" role="menu">
                                    <li>
                                        <a ui-sref="accueil">Accueil</a>
                                    </li>
                                    <li>
                                        <a ui-sref="chateaux">Clé des Châteaux</a>
                                    </li>
                                    <li>
                                        <a ui-sref="fete">Service fête</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div id="content">
                        <div id="loading" ng-if="isViewLoading"></div>
                        <div ui-view></div>
                        <div ng-if="isError">Une erreur est survenue lors du chargement de vos données</div>
                    </div>
                </div>
                <footer>
                    &copy; Tous droits reserv&eacute;s
                </footer>
            </div>
        </div>
<!--        <script src="lib/bootstrap.js"></script>
        <script src="lib/npm.js"></script>-->
        <script src="lib/jquery.js"></script>
        <script src="lib/angular.js"></script>
        <script src="lib/angular-route.js"></script>
        <script src="lib/angular-resource.js"></script>
        <script src="lib/angular-ui-router.js"></script>
        <script src="lib/angular-resource.js"></script>
        <script src="lib/angular-animate.js"></script>
        <script src="lib/ui-bootstrap.js"></script>
        <script src="lib/underscore.js"></script>
        <script src="lib/ng-tags-input.js"></script>
        <script src="lib/angular-file-upload.min.js"></script>
        <script src="lib/ng-infinite-scroll.min.js"></script>
        <script   src="lib/angular-base64-master/angular-base64.min.js"></script>
        <script  src="lib/angular-base64-upload.js"></script>
        <script  src="lib/ng-file-upload/ng-file-upload.min.js"></script>
        <script   src="lib/firebase/firebase.js"></script>
        <script  src="lib/angularfire/dist/angularfire.min.js"></script>
        	<script src="lib/angular-selector-master/dist/angular-selector.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyBISlEs8-AjaAVwYrzAX0nVXNaffdwJ8M8",
                authDomain: "bracongo-marketing.firebaseapp.com",
                databaseURL: "https://bracongo-marketing.firebaseio.com",
                storageBucket: "bracongo-marketing.appspot.com",
            
          };
          firebase.initializeApp(config);
        </script>
        <!--    fin d'inclusion des libreries                             -->
        
        <script src="js/app.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/services.js"></script>
        
        <script src="modules/event/eventModule.js"></script>
        <script src="modules/event/js/controllers.js"></script>
        <script src="modules/event/js/services.js"></script>
        
        <script src="modules/actu/actuModule.js"></script>
        <script src="modules/actu/js/controllers.js"></script>
        <script src="modules/actu/js/services.js"></script>
        
        <script src="modules/test/testModule.js"></script>
        <script src="modules/test/js/controllers.js"></script>
        <script src="modules/test/js/services.js"></script>
        
        <script src="modules/jeux/jeuxModule.js"></script>
        <script src="modules/jeux/js/controllers.js"></script>
        <script src="modules/jeux/js/services.js"></script>
        
        <script src="modules/jobs/jobsModule.js"></script>
        <script src="modules/jobs/js/controllers.js"></script>
        <script src="modules/jobs/js/services.js"></script>
        
        <script src="modules/categories/categorieModule.js"></script>
        <script src="modules/categories/js/controllers.js"></script>
        <script src="modules/categories/js/services.js"></script>
        
        <script src="modules/vins/vinModule.js"></script>
        <script src="modules/vins/js/controllers.js"></script>
        <script src="modules/vins/js/services.js"></script>
        
        <script src="modules/categoriesBrac/categorieBracModule.js"></script>
        <script src="modules/categoriesBrac/js/controllers.js"></script>
        <script src="modules/categoriesBrac/js/services.js"></script>
        
        <script src="modules/produits/produitModule.js"></script>
        <script src="modules/produits/js/controllers.js"></script>
        <script src="modules/produits/js/services.js"></script>
        
        <script src="modules/campagnes/campagneModule.js"></script>
        <script src="modules/campagnes/js/controllers.js"></script>
        <script src="modules/campagnes/js/services.js"></script>
        
        <script src="modules/accueil/accueilModule.js"></script>
        <script src="modules/accueil/js/controllers.js"></script>
        <script src="modules/accueil/js/services.js"></script>
        
        <script src="modules/chateaux/chateauxModule.js"></script>
        <script src="modules/chateaux/js/controllers.js"></script>
        <script src="modules/chateaux/js/services.js"></script>
        
        <script src="modules/fete/feteModule.js"></script>
        <script src="modules/fete/js/controllers.js"></script>
        <script src="modules/fete/js/services.js"></script>
        
    </body>
</html>
