<div>
    <h3 class ="titre">LA LISTE DES TEST</h3>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>Numero</th>
                <th>Code</th>
                <th>nom</th>
                <th>description</th>
                <th>image</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,test) in tests " class="inverse">
                <td>{{$index + 1}}</td>
                <td>{{test.code}}</td>
                <td>{{test.nom}}</td>
                <td>{{test.decription}}</td>
                <td><img data-ng-src="data:image/jpeg;base64,{{test.image}}"/></td>
                <td><a ng-click="afficherFenetre(key, test)"><i class="glyphicon glyphicon-edit"></i> Modifier</a> | <a ng-click="supprimerDepartement(key,test)"> <i class="glyphicon glyphicon-remove"></i> Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <pagination  boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre()"><i class="glyphicon glyphicon-save"></i> Ajouter</button>
    </form>
<!--    <div ng-controller="PaginationDemoCtrl">
        <pagination  boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>-->
</div>




