<div>
    <h3 class ="titre">LA LISTE DES CATEGORIES</h3>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>Numero</th>
                <th>Nom</th>
                <th>CodeCategorie</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,vin) in vins " class="inverse">
                <td>{{$index + 1}}</td>
                <td>{{vin.nom}}</td>
                <td>{{vin.categorie}}</td>               
                <td><img data-ng-src="data:image/jpeg;base64,{{vin.image}}" style="width: 100px; height: 150px;"/></td>
                <td><a ng-click="afficherFenetre(key, vin)"><i class="glyphicon glyphicon-edit"></i> Modifier</a> | <a ng-click="supprimerDepartement(key,vin)"> <i class="glyphicon glyphicon-remove"></i> Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <pagination  boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre()"><i class="glyphicon glyphicon-save"></i> Ajouter</button>
    </form>
<!--    <div ng-controller="PaginationDemoCtrl">
        <pagination  boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>-->
</div>




