<div>
    <h3 class ="titre">LA LISTE DES Evènements</h3>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>Numero</th>
                <th>Adresse</th>
                <th>Contact</th>
                <th>description</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Lieu</th>
                <th>Titre</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key,event) in events " class="inverse">
                <td>{{$index + 1}}</td>
                <td>{{event.adresse}}</td>
                <td>{{event.contact}}</td>
                <td>{{event.description}}</td>
                <td>{{event.date}}</td>
                <td>{{event.heure}}</td>
                <td>{{event.lieu}}</td>
                <td>{{event.titre}}</td>
                <td><img ng-src="{{event.image}}" style="width: 100px; height: 150px;"/></td>
                <td><a ng-click="afficherFenetre(key, event)"><i class="glyphicon glyphicon-edit"></i> Modifier</a> | <a ng-click="supprimerDepartement(key,event)"> <i class="glyphicon glyphicon-remove"></i> Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <pagination  boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre()"><i class="glyphicon glyphicon-save"></i> Ajouter</button>
    </form>
<!--    <div ng-controller="PaginationDemoCtrl">
        <pagination  boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>-->
</div>




